[Desktop Entry]
Encoding=UTF-8
Name=Firewall GUI
Comment=Simple configuration GUI for the ipfw firewall
Exec=ipfwGUI
Icon=firewall-config
Terminal=false
StartupNotify=false
Type=Application
Categories=Network;System
