[Desktop Entry]
Name=ipfwGUI
Comment=Simple configuration GUI for the ipfw firewall
Exec=dsbsu ipfwGUI
Icon=firewall-config
Terminal=false
StartupNotify=false
Type=Application
Categories=Network;
